/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #0a3d62;
}
.clear{
    clear: both;
}

/* Srcollbar*/
::-webkit-scrollbar{
    width: 12px;
    z-index: 5;
    background: #34495e;
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#c7ecee);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#e67e22);
}

/* Navbar */
header{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 4;
}
header nav{
    padding-top: 10px;
    width: 100%;
    position: absolute;
}
header nav ul{
    margin: 10px 20px;
    width: 60%;
    display: flex;
    margin: 0 auto;
}
header nav ul li{
    margin: 0 auto;
    list-style: none;
}
header nav ul li a{
    height: 100px;
    font-size: clamp(15px,1.5vw,30px);
    line-height: 50px;
    color: #dff9fb;
    text-decoration: none;
    font-family: 'Anton',Arial,sans-serif;
    display: block;
}
header ul li:hover{
    text-shadow: 0 0 10px #e67e22,
                0 0 20px #e67e22,
                0 0 40px #e67e22,
                0 0 80px #e67e22,
                0 0 120px #e67e22;
    transition: ease-in 0.1s;
} 
#menu-toggle{
    width: 25%;
    height: 50px;
    color: #fdcb6e;
    float: right;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    display: none;
    text-align: center;
    position: relative;
    z-index: 5;
}
header #menu-toggle:hover{
    text-shadow: 0 0 10px #dff9fb,
                0 0 20px #dff9fb,
                0 0 40px #dff9fb,
                0 0 80px #dff9fb,
                0 0 120px #dff9fb;
    transition: ease-in 0.1s;
} 
.lang_menu{
    top: 0;
    right: 50px;
    width: 150px;
    height: 80px;
    position: absolute;
    color: #dff9fb;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}
.lang_menu h2{
    font-size: clamp(13px,1.5vw,20px);
}
#lang_menu h3{
    font-size: clamp(13px,1.5vw,16px);
}
.lang_submenu{
    width: 100%;
    height: 100px;
    background-color:#333;
    display: none;
}
.lang_submenu li{
    padding-top: 20px;
    list-style: none;
}
.lang_submenu li a{
    font-size: clamp(13px,1.5vw,16px);
    color: #dff9fb;
    text-align: center;
}
.lang_menu:hover{
    transition: ease-in 0.1s;  
    background: #333;
}
.lang_menu:hover h2,.lang_menu:hover h3{
    text-shadow: 0 0 10px #e67e22,
                0 0 20px #e67e22,
                0 0 40px #e67e22,
                0 0 80px #e67e22,
                0 0 120px #e67e22;
    transition: ease-in 0.1s;
}
.lang_menu:hover .lang_submenu{
    display: block;
}
.lang_submenu li a:hover{
    text-shadow: 0 0 10px #e67e22,
    0 0 20px #e67e22,
    0 0 40px #e67e22,
    0 0 80px #e67e22,
    0 0 120px #e67e22;
    transition: ease-in 0.1s;
}
#lang_mobile_menu{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    color: #333;
}
.lang_mobile_menu_icon{
    font-size: 40px;
}
#lang_mobile_menu:hover{
    text-shadow: 0 0 10px #e67e22,
    0 0 20px #e67e22,
    0 0 40px #e67e22,
    0 0 80px #e67e22,
    0 0 120px #e67e22;
    transition: ease-in 0.1s;
}
.scrolled{
    width: 100%;
    height: 80px;
    background: #2d3436;
    transition: 0.3s ease-in-out;
}
/* Banner */
section{
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #middle{
    z-index: 2;
}

section #start{
    z-index: 3;
}
section #sun{
    width: 400px;
    height: clamp(500px,60vw,700px);
    z-index: 1;
    top: 0;
    left: 0;
}
section #text{
    width: 90%;
    height: 80%;
    top: 0;
    left: 5%;
    z-index: 2;
}

/* Introduce */
#introduce_wrapper{
    width: 100%;
    background-color: #c7ecee;
}
.content_wrapper {
    width: 100%;
    margin: 0 auto;
    height: 15%;
    padding-top: 3em;
    text-align: center;
    font-size: clamp(15px,3vw,35px);
    font-family: 'Anton',sans-serif;
    color: #2d3436;
}
.introduce_box{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.introduce_box h2{
    font-size: clamp(25px,4vw,50px);;
}
.introduce_box p{
    font-size: clamp(10px,4vw,25px);
}
.introduce_box_buy{
    font-size: clamp(10px,4vw,25px);
}
.introduce_box_buy1{
    width: 100%;
    color: #3c6382;
}
.introduce_box_buy1 a{
    color: #b71540;
}
.introduce_box_buy1 a:hover{
    color: #0c2461;
    text-shadow: 0 0 10px #0c2461,
                 0 0 20px #0c2461,
                 0 0 40px #0c2461,
                 0 0 80px #0c2461,
                 0 0 120px#0c2461;
    transition: ease-in 0.5s;
}
.introduce_box_buy2{
    width: 100%;
    color: #3c6382;
}
.introduce_box_buy2 a{
    color: #b71540;
}
.introduce_box_buy2 a:hover{
    color: #2ed573;
    text-shadow: 0 0 10px #2ed573,
                 0 0 20px #2ed573,
                 0 0 40px #2ed573,
                 0 0 80px #2ed573,
                 0 0 120px#2ed573;
    transition: ease-in 0.5s;
}
/* Event */
#event_wrapper{
    width: 100%;
    background-color: #c7ecee;
}
.event_info_wrapper{
    width: 80%;
    height: 85%;
    margin: 0 auto;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
}
.event_box{
    width: 60%;
    height: 60%;
    background-color: #333;
    margin: 4em auto;
    border-top-right-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 10px #535c68,
                0 0 20px #535c68,
                0 0 40px #535c68;
}
.event_box h2{
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-size: clamp(10px,1.5vw,25px);
    color: #c7ecee;
}
.event_box:hover{
    transition: ease-in-out 0.5s;
    cursor: pointer;
    opacity: 0.8;
}
.event_box:hover h2{
    color: #dff9fb;
}
/* Library */
#library_wrapper{
    width: 100%;
    height: 1000px;
    background-color: #c7ecee;
}

/* Footer */
footer{
    height: 250px;
    background-color: #333;
}
#contact{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contact_info{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 10px 40px;
}
.contact_info h1{
    color: #c7ecee;
    text-align: center;
    font-size: clamp(20px,3vw,35px);
}
.contact_info h4{
    color: #c7ecee;
    text-align: center;
    font-size: clamp(10px,2vw,15px);
}
.contact_info ul{
    padding: 20px 0;
    text-align: center;
}
.contact_info ul li{
    display: inline;
    padding:  10px;
}
.contact_info ul li a{
    font-size: clamp(5px,2vw,20px);
    color: #c7ecee;
}
.contact_info ul li .youtube:hover {
    color: #c23616;
    text-shadow: 0 0 10px #c23616,
                0 0 20px #c23616,
                0 0 40px #c23616,
                0 0 80px #c23616,
                0 0 120px #c23616;
    transition: ease-in-out 0.5s;
}
.contact_info ul li .facebook:hover {
    color: #00a8ff;
    text-shadow: 0 0 10px #00a8ff,
                0 0 20px #00a8ff,
                0 0 40px #00a8ff,
                0 0 80px #00a8ff,
                0 0 120px #00a8ff;
    transition: ease-in-out 0.5s;
}
.contact_info ul li .discord:hover {
    color: #487eb0;
    text-shadow: 0 0 10px #487eb0,
                0 0 20px #487eb0,
                0 0 40px #487eb0,
                0 0 80px #487eb0,
                0 0 120px #487eb0;
    transition: ease-in-out 0.5s;
}
.contact_info h4 a{
    color: #2ed573;
    padding-left: 10px;
}
.contact_info h4 a:hover{
    color: #2ed573;
    text-shadow: 0 0 10px #7bed9f,
                0 0 20px #7bed9f,
                0 0 40px #7bed9f,
                0 0 80px #7bed9f,
                0 0 120px #7bed9f;
}
/* Responsive */
/* PC */
@media (min-width: 991px){
    /* language mobile menu */
    #lang_mobile_menu {
        display: none;
    }
}
/* moble */
@media (max-width: 991px) {
    /* Navbar */
    #menu-toggle{
        padding-top: 27px;
        display: block;
    }
    #nav-toggle{
        width: 25%;
        /* height: calc(80vh); */
        float: right; 
        height: 120vh;
        transition: 0.5s;
        background: #333;
        display: none;
        top: 0;
        right: 0;
    }
    #open_icon{
        display: block;
    }
    #close_icon{
        display: none;
    }
    header nav ul{
        display: block;
        text-align: center;
        overflow-y: auto;
        margin-top: 40px;
    }
    .scrolled{
        width: 25%;
        height: 120vh;
        background: #333;
    }
    header nav ul li a{
        padding: 30px 0;
    }
    header nav ul li a{
        font-size: clamp(10px,1vw,30px);
    }
    .lang_menu{
        display: none;
    }
    /* banner */
    section{
        /* display: none; */
        width: 100%;
        height: 60vh;
    }
    section img{
        width: 100%;
        height: 100%;
    }
}
/* prefix navbar height<500px*/
@media (max-height: 500px){
    header nav ul li a{
        height: 50px;
        padding: 15px 0;
    }
}