/* Add */
@font-face {
    font-family: fontvidu;
    src: url('https://fonts.gstatic.com/s/permanentmarker/v7/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2');
}
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #0a3d62;
    min-height: 3000px;
}
.clear{
    clear: both;
}

/* Srcollbar*/
::-webkit-scrollbar{
    width: 12px;
    z-index: 5;
    background: #34495e;
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#c7ecee);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#e67e22);
}

/* Navbar */
header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
}
header nav{
    padding-top: 10px;
    width: 100%;
    position: absolute;
}
header nav ul{
    margin: 10px 20px;
    width: 60%;
    display: flex;
    margin: 0 auto;
}
header nav ul li{
    margin: 0 auto;
    list-style: none;
}
header nav ul li a{
    height: 100px;
    font-size: clamp(15px,1.5vw,30px);
    line-height: 50px;
    color: #dff9fb;
    text-decoration: none;
    font-family: 'Anton';
    display: block;
}
header ul li:hover{
    text-shadow: 0 0 10px #e67e22,
                0 0 20px #e67e22,
                0 0 40px #e67e22,
                0 0 80px #e67e22,
                0 0 120px #e67e22;
    transition: ease-in 0.5s;
} 
#menu-toggle{
    width: 25%;
    height: 50px;
    color: #6ab04c;
    float: right;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    display: none;
    text-align: center;
}
header #menu-toggle:hover{
    text-shadow: 0 0 10px #dff9fb,
                0 0 20px #dff9fb,
                0 0 40px #dff9fb,
                0 0 80px #dff9fb,
                0 0 120px #dff9fb;
    transition: ease-in 0.5s;
} 
.scrolled{
    width: 100%;
    height: 80px;
    background: #2d3436;
    transition: 0.3s ease-in-out;
}
/* Banner */
section{
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #middle{
    z-index: 2;
}

section #start{
    z-index: 3;
}
section #text{
    top: 0;
    position: relative;
    color: #dff9fb;
    font-size: clamp(1em,5vw,4em);
    z-index: 2;
    margin-bottom: 3em;
    font-family: trajan,fontvidu;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #535c68,
                0 0 20px #535c68,
                0 0 40px #535c68,
                0 0 80px #535c68,
                0 0 120px #535c68;
}
section #sun{
    width: 400px;
    height: 700px;
    z-index: 1;
    top: 0;
    left: 0;
}

/* News */
#news_wrapper{
    width: 100%;
    height: 1000px;
    background-color: #c7ecee;
}
.content_wrapper {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    padding-top: 3em;
    text-align: center;
    font-size: clamp(15px,3vw,35px);
    font-family: sans-serif;
    color: #2d3436;
}

/* Event */
#event_wrapper{
    width: 100%;
    height: 1000px;
    background-color: #c7ecee;
}

/* Library */
#library_wrapper{
    width: 100%;
    height: 1000px;
    background-color: #c7ecee;
}

/* Footer */
footer{
    height: 250px;
    background-color: #333;
}
#contact{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contact_info{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 10px 40px;
}
.contact_info h1{
    color: #c7ecee;
    text-align: center;
    font-size: clamp(20px,3vw,35px);
}
.contact_info h4{
    color: #c7ecee;
    text-align: center;
    font-size: clamp(10px,2vw,15px);
}
.contact_info ul{
    padding: 20px 0;
    text-align: center;
}
.contact_info ul li{
    display: inline;
    padding:  20px;
}
.contact_info ul li a{
    font-size: clamp(5px,2vw,20px);
    color: #c7ecee;
    margin: 0 25px;
}
.contact_info ul li .youtube:hover {
    color: #c23616;
    text-shadow: 0 0 10px #c23616,
                0 0 20px #c23616,
                0 0 40px #c23616,
                0 0 80px #c23616,
                0 0 120px #c23616;
    transition: ease-in-out 0.5s;
}
.contact_info ul li .facebook:hover {
    color: #00a8ff;
    text-shadow: 0 0 10px #00a8ff,
                0 0 20px #00a8ff,
                0 0 40px #00a8ff,
                0 0 80px #00a8ff,
                0 0 120px #00a8ff;
    transition: ease-in-out 0.5s;
}
.contact_info ul li .discord:hover {
    color: #487eb0;
    text-shadow: 0 0 10px #487eb0,
                0 0 20px #487eb0,
                0 0 40px #487eb0,
                0 0 80px #487eb0,
                0 0 120px #487eb0;
    transition: ease-in-out 0.5s;
}
.contact_info h4 a{
    color: #f8c291;
    padding-left: 10px;
}
.contact_info h4 a:hover{
    color: #ffb8b8;
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff;
}
/* Responsive */
/* PC */
/* moble */
@media (max-width: 991px) {
    /* Navbar */
    #menu-toggle{
        display: block;
        position: relative;
        z-index: 5;
    }
    header nav{
        width: 25%;
        /* height: calc(80vh); */
        float: right; 
        height: 120vh;
        transition: 0.5s;
        background: #333;
        display: none;
        top: 0;
        right: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
        overflow-y: auto;
        margin-top: 30px;
    }
    .scrolled{
        /* height: calc(80vh); */
        width: 25%;
        height: 120vh;
        background: #333;
    }
    header nav ul li{
        
    }
    header nav ul li a{
        padding: 30px 0;
    }
    header nav ul li a{
        font-size: clamp(10px,1vw,30px);
    }
    /* banner */
    section{
        display: none;
        width: 100%;
        height: 60vh;
    }
    section img{
        width: 100%;
        height: 100%;
    }
}