.sun_change{
    display: none;
}
.banner_night30{
    filter:brightness(30%);
}
.banner_night50{
    filter:brightness(50%);
}
.banner_night70{
    filter:brightness(50%);
}
.display_change{
    filter:brightness(10%);
}