/* Add */
@font-face {
    font-family: fontvidu;
    src: url('https://fonts.gstatic.com/s/permanentmarker/v7/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2');
}
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #0a3d62;
    min-height: 3000px;
}
.clear{
    clear: both;
}
/* Navbar */
header{
    
}
header ul{
    padding-left: 30%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    list-style: none;
    position: fixed;
    z-index: 4;
    
}
header ul a li{
    width: 150px;
    padding: 15px 0;
    /* border-bottom: 2px solid #dff9fb; */
    text-align: center;
    margin: 0 15px;
    color: #dff9fb;
    font-size: clamp(1em,1.5vw,1.5em);
    font-family: fontvidu;
}
header ul li:hover{
    text-shadow: 0 0 10px #e67e22,
                0 0 20px #e67e22,
                0 0 40px #e67e22,
                0 0 80px #e67e22,
                0 0 120px #e67e22;
    transition: ease-in 0.5s;
    
}
.scrolled{
    width: 100%;
    height: 80px;
    background: rgba(22,22,22,.9);
    transition: 0.3s ease-in-out;
}
/* Banner */
section{
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 10px solid #f6e58d; */
}
section ::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;

}
section ::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #middle{
    z-index: 2;
}

section #start{
    z-index: 3;
}
section #text{
    top: 0;
    position: relative;
    color: #dff9fb;
    font-size: 4em;
    z-index: 2;
    margin-bottom: 3em;
    font-family: trajan,fontvidu;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #535c68,
                0 0 20px #535c68,
                0 0 40px #535c68,
                0 0 80px #535c68,
                0 0 120px #535c68;
}
section #sun{
    width: 400px;
    height: 700px;
    z-index: 1;
    top: 0;
    left: 0;
}

/* Introduce */
.introduce_wrapper{
    width: 100%;
    height: 2000px;
    background-color: #c7ecee;
}